@{
    ViewData["Title"] = "Shopping List";
}

@using System
@using System.Collections.Generic
@using FoodSaverClient.Models
@model List<Ingredient>



<h2>Here is you're shopping list for the week:</h2>
@{
    decimal ShoppingListTotal = 0;
}
<ul>
@foreach (Ingredient ingredient in Model)
{
    <li> @ingredient.IngredientQuantity @ingredient.IngredientName, $ @ingredient.IngredientPrice</li>
    
    ShoppingListTotal += @ingredient.IngredientPrice;
    
}
</ul>
<h2>The total cost of your shopping list is $ @ShoppingListTotal</h2>


