@{
    ViewData["Title"] = "ShoppingList";
}

<h1>@ViewData["Title"]</h1>

@using FoodSaverClient.Models
@model User

@using (Html.BeginForm("Create", "ShoppingList"))
{
    @Html.Label("Budget", "What's your budget?")
    @Html.TextBoxFor(model => model.Budget)
    <br>
    @Html.Label("ServingQuantity", "How many people are you feeding?")
    @Html.TextBoxFor(model => model.ServingQuantity)
    
    <button type="submit" class="btn btn-info">Let's pick some recipes!</button>
}