@{
    ViewData["Title"] = "Recipes";
}

@using FoodSaverClient.Models;
@model Recipe;

<h1>@Model.RecipeName:</h1>


    <div class="card success">
      <div class="card-body success">
        <h5 class="card-title">Directions</h5>
        <p class="card-text">@Model.Directions</p>
      </div>
    </div>
    <br>
    <div class="card success">
      <div class="card-body">
        <h5 class="card-title">Nutrition Info</h5>
        <p class="card-text">@Model.NutritionInfo</p>
      </div>
    </div>
    <br>
    <div class="card success">
      <div class="card-body">
        <h5 class="card-title">Hot Tips</h5>
        <p class="card-text">@Model.RecipeTips</p>
      </div>
    </div>
    <br>
    <div class="card success">
      <div class="card-body">
        <h5 class="card-title">Price Per Serving</h5>
        <p class="card-text">@Model.CostPerServing</p>
      </div>
    </div>

<button class="btn btn-default">@Html.ActionLink("Back To Home", "Index", "Home")</button>
<button class="btn btn-default">@Html.ActionLink("Back To recipes list", "Index")</button>


